@{
    ViewBag.Title = "T网租生活";
    ViewBag.__Is_Home_Tag = "__Is_Home_Tag=1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <link href="@Url.Content("~/Css/Home/Index.css?v=20160923")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Css/Merc/List.css?v=20160923")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Js/Home/Home.js?v=20160923")">
    </script>
    <script type="text/javascript" src="@Url.Content("~/Js/Merc/Base.js?v=20160923")">
    </script>
    <script type="text/javascript" src="@Url.Content("~/Js/Merc/List.js?v=20160923")">
    </script>
    <script type="text/javascript">
        // Pub.delUser();
    </script>
}
<div class="head_host">
    <div class="swiper-banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#">
                        <img class="swiper-lazy" src="@Url.Content("~/Images/Home/1.jpg")" />
                    </a>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img class="swiper-lazy" data-src="@Url.Content("~/Images/Home/2.jpg")" />
                    </a>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>
            <div class="swiper-pagination">
            </div>
        </div>
        @*<div class="top_tool">
                <a href="@Url.Content("~/Shared/ChangeDB")"><span id="city">北京</span><i></i></a>
            </div>*@
    </div>

    <div class="main_nav">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <a href="#"><i class="tongzhi"></i><span>公告通知</span> </a>
                </td>
                <td>
                    <a href="@Url.Content("~/Merc/List")"><i class="baoxiu"></i><span>宽带销售</span> </a>
                </td>
                <td>
                    <a href="@Url.Content("~/Merc/List/Setup")"><i class="toushu"></i><span>宽带报装</span> </a>
                </td>
                <td>
                    <a href="@Url.Content("~/Buss/Index")"><i class="jiaofei"></i><span>周边商圈</span> </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#"><i class="suishoupai"></i><span>投诉建议</span> </a>
                </td>
                <td>
                    <a href="@Url.Content("~/Order/List")"><i class="juece"></i><span>我的订单</span> </a>
                </td>
                <td>
                    <a href="#"><i class="diaocha"></i><span>报修</span> </a>
                </td>
                <td>

                    <a href="#"><i class="zhinan"></i><span>调查</span> </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="vline"></div>


<div id="merc" class="pitem_host">
    <span class="loading_c">加载中...</span>
    @*<div class="pitem">
            <div class="pitem_l">
                <a href="#"><img src="@Url.Content("~/Images/Merc/0.jpg")" />水果</a>

                <div class="HLive"></div>

            </div>
            <div class="pitem_r">
                <a href="#"><img src="@Url.Content("~/Images/Merc/0.jpg")" />水果</a>

            </div>

        </div>*@

</div>