@using TNet.Util;
@using TNet.Models;
@using TNet.Util;
@using TNet.BLL;

@model List<MercViewModel>

@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    var pageCount = Convert.ToInt32(ViewData["pageCount"]);
    var pageIndex = Convert.ToInt32(ViewData["pageIndex"]);
}
<div class="ManageRightTitle">
    <ol class="breadcrumb">
        <li><a href="#">产品管理</a></li>
        <li><a href="#" class="active">商品管理</a></li>
    </ol>
</div>
<div class="ManageRightContent">
    <div>
        @Html.Raw(Url.BootstrapPagerHTML(pageCount, pageIndex, "MercList", "Manage", ViewContext.RouteData.Values))
    </div>
    <div>
        <a class="btn btn-primary" target="_blank" href="@Url.Action("MercEdit","Manage")">新增产品</a>
    </div>
    <div>
        @if (Model.Count > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, String>(en => en.MercTypeName))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel,String>(en=>en.merc1))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, String>(en => en.sellpt))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, double?>(en => en.baseprice))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, int?>(en => en.sellcount))</th>
                        @*<th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, String>(en => en.imgs))</th>*@
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, DateTime?>(en => en.stime))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, DateTime?>(en => en.entime))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, int?>(en => en.sortno))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, bool?>(en => en.inuse))</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MercTypeName</td>
                            <td>@item.merc1</td>
                            <td>@item.sellpt</td>
                            <td>@item.baseprice</td>
                            <td>@item.sellcount</td>
                            @*<td>
                                <img src="@item.imgs" alt="@item.merc1" title="@item.merc1" />
                            </td>*@
                            <td>
                                @item.stime.Value.ToString("yyyy-MM-dd") 
                            </td>
                            <td>
                                @item.entime.Value.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @item.sortno
                            </td>
                            <td>
                                <a onclick="enableMerc('@Url.Action("MercEnable", "Manage", new { idmerc = item.idmerc, enable = !item.inuse, isAjax = true })')" href="javascript:void(0);" class="btn btn-default">@(item.inuse ? "禁用" : "启用")</a>

                            </td>
                            <td>
                                <a href="@Url.Action("MercEdit","Manage",new {idmerc=item.idmerc })" class="btn btn-default">编辑</a>
                                
                                <a href="@Url.Action("MercImageList","Manage",new {mercId=item.idmerc })" class="btn btn-default">管理图片</a>
                                <a href="@Url.Action("SpecList","Manage",new {idmerc=item.idmerc })" class="btn btn-default">管理规格</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2>还没有任何产品.</h2>
        }

    </div>
</div>
<script type="text/javascript">
    function enableMerc(url) {
        var manageLoginUrl = "@Url.Action("Login","Manage")";
        $.post(url, null, function (returndata) {
            returndata=eval("("+returndata+")");
            if (returndata.Code == "3") {
                alert(returndata.Message);
                window.Location.href = manageLoginUrl;
            } else if (returndata.Code == "1") {
                alert("操作成功.");
                window.location.href = window.location.href;
            } else {
                alert("系统出错，请稍后再试。");
            }
        });
    }

</script>


