@model TNet.Models.MercImageViewModel
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Title = "编辑产品图片";
    if (Model.idmerc == 0)
    {
        ViewBag.Title = "新增产品图片";
    }
}
<link rel="stylesheet" href="@Url.Content("~/Css/bootstrap-fileinput/fileinput.min.css")" />
<script type="text/javascript" src="@Url.Content("~/Js/bootstrap-fileinput/fileinput.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Js/bootstrap-fileinput/locales/zh.js")"></script>

<div class="ManageRightTitle">
    <ol class="breadcrumb">
        <li><a href="#">产品管理</a></li>
        <li><a href="#" class="active">@(Model.idmerc == 0 ? "新增产品图片" : "编辑产品图片")</a></li>
    </ol>
</div>
<div class="ManageRightContent">
    <form action="@Url.Action("MercImageEdit","Manage")" method="post" class="form-horizontal">
        <div class="merc-edit-box ">
            <fieldset>
                @Html.HiddenFor(model => model.idmerc)
                @Html.HiddenFor(model => model.MercImageId)
                @Html.HiddenFor(model=>model.Path)
                <div class="form-group">
                    @Html.LabelFor(model => model.Path, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        <input type="file" name="image" id="mymercimage" class="projectfile" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SortID, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.SortID, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.SortID)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.InUse, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(model => model.InUse, new { @class = "form-control" ,@checked="checked"})
                    </div>
                    @Html.ValidationMessageFor(model => model.InUse)
                </div>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <input type="submit" value="保存" class="btn btn-primary" />
                </div>
            </fieldset>

        </div>

    </form>

</div>

<script type="text/javascript">
    //初始化fileinput控件（第一次初始化）
    function initFileInput(ctrlName, uploadUrl) {
        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: uploadUrl, //上传的地址
            uploadAsync: true,
            maxFileCount: 1,
            allowedPreviewTypes: ['image'],
            allowedFileExtensions: ['jpg', 'png', 'gif'],//接收的文件后缀
            showUpload: false, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        }).on('fileuploaded', function (event, data, id, index) {
            var responseData = data.response;
            if (responseData.Code == "1") {
                $("#@Html.IdFor(model=>model.Path)").val(responseData.Content[0].Path);
                alert(responseData.Message);
            }
            else if (responseData.Code == "2") {
                alert(responseData.Message);
            }
            
        });
    }
    $(function () {
        initFileInput("mymercimage", "@Url.Action("UploadMercImage","Manage",new { mercId = Model.idmerc })");
    });


</script>