@using TNet.Util;
@using TNet.Models;
@using TNet.Util;
@using TNet.BLL;

@model List<MercViewModel>

@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    var pageCount = Convert.ToInt32(ViewData["pageCount"]);
    var pageIndex = Convert.ToInt32(ViewData["pageIndex"]);
    int idtype = Convert.ToInt32(ViewData["idtype"]);
    string merc = ViewData["merc"].ToString();
    int netype = Convert.ToInt32(ViewData["netype"]);
    int isetup = Convert.ToInt32(ViewData["isetup"]);
    List<SelectItemViewModel<string>> mercTypeSelects =(List<SelectItemViewModel<string>>) ViewData["mercTypeSelects"];
    List<SelectItemViewModel<int>> isetupSelects = (List<SelectItemViewModel<int>>)ViewData["isetupSelects"];
    List<SelectItemViewModel<int>> netypeSelects = (List<SelectItemViewModel<int>>)ViewData["netypeSelects"];
}
<div class="ManageRightTitle">
    <ol class="breadcrumb">
        <li><a href="#">产品管理</a></li>
        <li><a href="#" class="active">产品列表</a></li>
    </ol>
</div>
<div class="ManageRightContent">
    <div>
        <a class="btn btn-primary" @*target="_blank"*@ href="@Url.Action("MercEdit","Manage")">新增产品</a>
    </div>
    <div style="margin-top:10px;">
        <form action="@Url.Action("MercList","Manage")" method="post">
            <div class="row">
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="产品名称" name="merc" value="@merc">
                </div>
                <div class="col-xs-2">
                   @Html.DropDownList("idtype", new SelectList(mercTypeSelects, "DisplayValue", "DisplayText"), new { @class = "form-control", Value = idtype })
                </div>
                <div class="col-xs-2">
                    @Html.DropDownList("netype", new SelectList(netypeSelects, "DisplayValue", "DisplayText"), new { @class = "form-control", Value = netype })
                </div>
                <div class="col-xs-2">
                    @Html.DropDownList("isetup", new SelectList(isetupSelects, "DisplayValue", "DisplayText"), new { @class = "form-control", Value = isetup })

                </div>
                <div class="col-xs-1">
                    <input type="submit" value="搜索" class="btn btn-primary" placeholder="" />
                </div>
            </div>
        </form>
    </div>
    <div>
        @Html.Raw(Url.BootstrapPagerHTML(pageCount, pageIndex, "MercList", "Manage", ViewContext.RouteData.Values))
    </div>
    <div class="list-box">
        @if (Model.Count > 0)
        {
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, String>(en => en.MercTypeName))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, String>(en => en.merc1))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, String>(en => en.sellpt))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, double?>(en => en.baseprice))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, int?>(en => en.sellcount))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, DateTime?>(en => en.stime))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, DateTime?>(en => en.entime))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, int?>(en => en.sortno))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercViewModel, bool?>(en => en.inuse))</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MercTypeName</td>
                            <td>
                                @item.merc1
                            @if (!string.IsNullOrEmpty(item.imgs))
                            {<br />
                            <img class="smallMercImage" src="@Url.Content(item.imgs)" alt="@item.merc1" title="@item.merc1" />
                            }

                        </td>
                        <td>@item.sellpt</td>
                        <td>@item.baseprice</td>
                        <td>@item.sellcount</td>
                        <td>
                            @item.stime.Value.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @item.entime.Value.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @item.sortno
                        </td>
                        <td>
                            <div class="switch">
                                <input type="checkbox" onchange="enableMerc('@Url.Action("MercEnable", "Manage", new { idmerc = item.idmerc, enable = !item.inuse, isAjax = true })')" name="enableMerc" @(item.inuse ? "checked" : "") />
                            </div>
                        </td>
                        <td>
                            <a href="@Url.Action("MercEdit","Manage",new {idmerc=item.idmerc })" class="btn btn-default">编辑</a>
                            @*<a href="@Url.Action("MercImageList","Manage",new {mercId=item.idmerc })" class="btn btn-default">管理图片</a>*@
                            <a href="@Url.Action("SpecList","Manage",new {idmerc=item.idmerc })" class="btn btn-default">规格</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2>还没有任何产品.</h2>
        }

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $.fn.bootstrapSwitch.defaults.onText = '启用';
        $.fn.bootstrapSwitch.defaults.offText = '禁用';
        $("[name='enableMerc']").bootstrapSwitch();
    });

    function enableMerc(url) {
        var manageLoginUrl = "@Url.Action("Login","Manage")";
        $.post(url, null, function (returndata) {
            returndata=eval("("+returndata+")");
            if (returndata.Code == "3") {
                alert(returndata.Message);
                window.Location.href = manageLoginUrl;
            } else if (returndata.Code == "1") {
                //alert("操作成功.");
                window.location.href = window.location.href;
            } else {
                alert("系统出错，请稍后再试。");
            }
        });
    }

</script>


