@using TNet.Util;
@using TNet.Models;
@using TNet.Util;
@model List<MercTypeViewModel>

@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    var pageCount = Convert.ToInt32(ViewData["pageCount"]);
    var pageIndex = Convert.ToInt32(ViewData["pageIndex"]);
}
<div class="ManageRightTitle">
    <ol class="breadcrumb">
        <li><a href="#">产品管理</a></li>
        <li><a href="#" class="active">类型管理</a></li>
    </ol>
</div>
<div class="ManageRightContent">
    <div>
        @Html.Raw(Url.BootstrapPagerHTML(pageCount, pageIndex, "MercTypeList", "Manage", ViewContext.RouteData.Values))
    </div>
    <div>
        <a class="btn btn-primary" @*target="_blank"*@ href="@Url.Action("MercTypeEdit","Manage")">新增产品类型</a>
    </div>
    <div>
        @if (Model.Count > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercTypeViewModel, int>(en => en.idtype))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercTypeViewModel, String>(en => en.name))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercTypeViewModel, String>(en => en.notes))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercTypeViewModel, int?>(en => en.sortno))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MercTypeViewModel, bool?>(en => en.inuse))</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.idtype</td>
                            <td>@item.name</td>
                            <td>@item.notes</td>
                            <td>@item.sortno</td>
                            <td>
                                <div class="switch">
                                    <input type="checkbox" onchange="enableMercType('@Url.Action("MercTypeEnable", "Manage", new { idtype = item.idtype, enable = !item.inuse, isAjax = true })')" name="enableMercType" @(item.inuse ? "checked" : "") />
                                </div>
                                @*<a onclick="enableMercType('@Url.Action("MercTypeEnable", "Manage", new { idtype = item.idtype, enable = !item.inuse, isAjax = true })')" href="javascript:void(0);" class="btn btn-default">@(item.inuse ? "禁用" : "启用")</a>*@
                            </td>
                            <td>
                                <a href="@Url.Action("MercTypeEdit","Manage",new {idtype=item.idtype })" class="btn btn-default">编辑</a>
                                <a href="@Url.Action("SetupEdit","Manage",new {idsetup= (item.Setup==null?"":item.Setup.idsetup),idtype=item.idtype })" class="btn btn-default">报装</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2>还没有任何产品类型.</h2>
        }

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $.fn.bootstrapSwitch.defaults.onText = '启用';
        $.fn.bootstrapSwitch.defaults.offText = '禁用';
        $("[name='enableMercType']").bootstrapSwitch();
    });

    function enableMercType(url) {
        var manageLoginUrl = "@Url.Action("Login","Manage")";
        $.post(url, null, function (returndata) {
            returndata=eval("("+returndata+")");
            if (returndata.Code == "3") {
                alert(returndata.Message);
                window.Location.href = manageLoginUrl;
            } else if (returndata.Code == "1") {
                //alert("操作成功.");
                window.location.href = window.location.href;
            } else {
                alert("系统出错，请稍后再试。");
            }
        });
    }

</script>