@using TNet.Util;
@using TNet.Models;
@using TNet.Util;
@using TNet.BLL;

@model List<MyOrderViewModel>

@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    var pageCount = Convert.ToInt32(ViewData["pageCount"]);
    var pageIndex = Convert.ToInt32(ViewData["pageIndex"]);

    DateTime? startOrDate = Convert.ToDateTime(ViewData["startOrDate"]);
    DateTime? endOrDate = Convert.ToDateTime(ViewData["endOrDate"]);
    int orderTypes = Convert.ToInt32(ViewData["orderTypes"]);
    int orderStatus = Convert.ToInt32(ViewData["orderStatus"]);
    long orderNo = Convert.ToInt64(ViewData["orderNo"]);
    long userNo = Convert.ToInt64(ViewData["userNo"]);
}
<div class="ManageRightTitle">
    <ol class="breadcrumb">
        <li><a href="#">订单管理</a></li>
        <li><a href="#" class="active">订单列表</a></li>
    </ol>
</div>
<div class="ManageRightContent">
    <div>
        <form action="@Url.Action("OrderList","Manage")" method="post">
            <div class="row">
                <div class="col-xs-1">
                    <input type="text" class="form-control" placeholder="订单号" name="orderNo" value="@(orderNo==0?"":orderNo.ToString())">
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="用户编号" name="userNo" value="@(userNo==0?"":userNo.ToString())">
                </div>
                <div class="col-xs-2">
                    <div id="startOrDate_datepicker" class="input-group date form_date col-sm-10 datetime_picker" data-date="" data-date-format="yyyy-mm-dd" data-link-field="startOrDate" data-link-format="yyyy-mm-dd">
                        <input class="form-control" size="16" type="text" value="@String.Format("{0:yyyy-MM-dd}",startOrDate.Value!=DateTime.MinValue?startOrDate: DateTime.Now)" readonly>
                        @*<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>*@
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    @Html.Hidden("startOrDate", String.Format("{0:yyyy-MM-dd}", startOrDate.Value != DateTime.MinValue ? startOrDate : DateTime.Now))
                </div>
                <div class="col-xs-2">
                    <div id="endOrDate_datepicker" class="input-group date form_date col-sm-10 datetime_picker" data-date="" data-date-format="yyyy-mm-dd" data-link-field="endOrDate" data-link-format="yyyy-mm-dd">
                        <input class="form-control" size="16" type="text" value="@String.Format("{0:yyyy-MM-dd}", endOrDate.Value!=DateTime.MinValue ? endOrDate : DateTime.Now)" readonly>
                        @*<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>*@
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    @Html.Hidden("endOrDate", String.Format("{0:yyyy-MM-dd}", endOrDate.Value != DateTime.MinValue ? endOrDate : DateTime.Now))
                </div>
                <div class="col-xs-2">
                    @Html.DropDownList("orderTypes", new SelectList(TNet.Models.Order.OrderType.GetSelectItems(), "DisplayValue", "DisplayText"), new { @class = "form-control", Value = orderTypes })
                </div>
                <div class="col-xs-2">
                    @Html.DropDownList("orderStatus", new SelectList(TNet.Models.Order.OrderStatus.GetSelectItems(), "DisplayValue", "DisplayText"), new { @class = "form-control", Value = orderStatus })

                </div>
                <div class="col-xs-1">
                    <input type="submit" value="搜索" class="btn btn-primary" placeholder=".col-xs-1" />
                </div>
            </div>

        </form>


    </div>
    <div>
        @Html.Raw(Url.BootstrapPagerHTML(pageCount, pageIndex, "OrderList", "Manage", ViewContext.RouteData.Values))
    </div>

    <div @*style="overflow:scroll;min-width:2180px;"*@>
        @if (Model.Count > 0) {
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>操作</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, long>(en => en.orderno))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, string>(en => en.user_name))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, string>(en => en.merc))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, string>(en => en.spec))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, int?>(en => en.month))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, int?>(en => en.attmonth))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, int?>(en => en.count))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, double?>(en => en.price))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, string>(en => en.contact))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, string>(en => en.addr))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, string>(en => en.phone))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, DateTime?>(en => en.cretime))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, DateTime?>(en => en.stime))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, DateTime?>(en => en.entime))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, int?>(en => en.otype))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, int?>(en => en.status))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, string>(en => en.notes))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, bool>(en => en.inuse))</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @if (item.otype == TNet.Models.Order.OrderType.Setup) {
                                    <a href="javascript:void(0);" onclick='openModal("@item.orderno");' class="btn btn-default">派单</a>
                                }

                                <a href="@Url.Action("OrderDetail","Manage",new { orderno=item.orderno})" class="btn btn-default">详细</a>
                            </td>
                            <td>
                                @item.orderno
                            @if (!string.IsNullOrEmpty(item.img)) {
                                <br />
                                <img class="smallMercImage" src="@Url.Content(@item.img)" title="@item.merc" />
                            }
                        </td>
                        <td>@item.user_name</td>
                        <td>@item.merc</td>
                        <td>@item.spec</td>
                        <td>@item.month</td>
                        <td>@item.attmonth</td>
                        <td>@item.count</td>
                        <td>@item.price</td>
                        <td>@item.contact</td>
                        <td>@item.addr</td>
                        <td>@item.phone</td>
                        <td>@item.cretime</td>
                        <td>@item.stime.Value.ToString("yyyy-MM-dd")</td>
                        <td>@item.entime.Value.ToString("yyyy-MM-dd")</td>
                        <td>
                            @TNet.Models.Order.OrderType.GetSelectItems().Where(en => en.DisplayValue == item.otype).FirstOrDefault().DisplayText
                        </td>
                        <td>
                            @TNet.Models.Order.OrderStatus.GetSelectItems().Where(en => en.DisplayValue == item.status).FirstOrDefault().DisplayText
                        </td>
                        <td>@item.notes</td>

                        <td>
                            <a onclick="enableOrder('@Url.Action("OrderEnable", "Manage", new { orderno = item.orderno, enable = !item.inuse, isAjax = true })')" href="javascript:void(0);" class="btn btn-default">@(item.inuse ? "禁用" : "启用")</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else {
            <h2>没有找到任何订单.</h2>
        }

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="currentSetManageUser"></h4>
                <input type="hidden" id="currentSetOrderNo" value="" />
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-3">
                        <input type="hidden" id="currentSetManageUserId" value="" />
                        <input type="text" class="form-control" placeholder="用户名" name="searchUserName" value="" id="searchUserName" />
                    </div>
                    <div class="col-xs-3">
                        <input type="submit" value="搜索" class="btn btn-primary" placeholder=".col-xs-1" id="btnSearch" />
                    </div>
                    <div class="col-xs-3">
                        <input type="button" value="指派选定的工人" class="btn btn-primary" placeholder=".col-xs-1" id="btnAssign" />
                    </div>
                </div>
                <div id="searchResults" class="userSearchResults"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#btnSearch").click(function () {
            searchUsers();
        });
        $("#btnAssign").click(function () {
            var selectedManageUsers = $('input[name="chkManageUser"]:checked');
            if (selectedManageUsers.length == 0) {
                alert("还没选中任何工人,请先选中。");
                return;
            }
            var selectedManageUserIds = "";
            $(selectedManageUsers).each(function (i, d) {
                if (i == 0) {
                    selectedManageUserIds += $(d).val();
                }
                else {
                    selectedManageUserIds += "," + $(d).val();
                }
            });
            var url = "@Url.Action("AssignTask", "Manage")";
            var data = { bindOrderNo: $("#currentSetOrderNo").val(), manageUserIds: selectedManageUserIds, isAjax: true };
            $.post(url, data, function (returndata) {
                returndata = eval("(" + returndata + ")");
                if (returndata.Code == 1) {
                    closeModal();
                    alert(returndata.Message);
                }
                else if (returndata.Code == 2) {
                    alert(returndata.Message);
                }
            });
        });
    });
    function searchUsers() {
        var url = "@Url.Action("SearchManageUsers","Manage")";
        var data = { userName: $("#searchUserName").val(), bindOrderNo: $("#currentSetOrderNo").val(), isAjax: true };
        $.get(url, data, function (returndata) {
            $("#searchResults").html(returndata);
        })
    }
    function openModal(bindOrderNo) {
        $("#currentSetManageUser").text("为订单:" + bindOrderNo + "指派工人");
        $("#currentSetOrderNo").val(bindOrderNo);
        $('#myModal').modal({
            keyboard: false
        })
    }
    function closeModal() {
        $('#myModal').modal('hide')
    }
    function enableOrder(url) {
        var manageLoginUrl = "@Url.Action("Login","Manage")";
        $.post(url, null, function (returndata) {
            returndata = eval("(" + returndata + ")");
            if (returndata.Code == "3") {
                alert(returndata.Message);
                window.Location.href = manageLoginUrl;
            } else if (returndata.Code == "1") {
                alert("操作成功.");
                window.location.href = window.location.href;
            } else {
                alert("系统出错，请稍后再试。");
            }
        });
    }

    $(function () {
        $('#startOrDate_datepicker').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('#endOrDate_datepicker').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    });
</script>