@using TNet.Util;
@using TNet.Models;
@using TNet.Util;
@using TNet.BLL;

@model List<MyOrderViewModel>

@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    var pageCount = Convert.ToInt32(ViewData["pageCount"]);
    var pageIndex = Convert.ToInt32(ViewData["pageIndex"]);
}
<div class="ManageRightTitle">
    <ol class="breadcrumb">
        <li><a href="#">订单管理</a></li>
        <li><a href="#" class="active">订单列表</a></li>
    </ol>
</div>
<div class="ManageRightContent">
    <div>
        <form action="@Url.Action("OrderList","Manage")">
            <div class="row">
                <div class="col-xs-1">
                    <input type="text" class="form-control"  placeholder="订单号">
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="用户编号">
                </div>
                <div class="col-xs-2">
                    <div id="startOrDate_datepicker" class="input-group date form_date col-sm-10 datetime_picker" data-date="" data-date-format="yyyy-mm-dd" data-link-field="startOrDate" data-link-format="yyyy-mm-dd">
                        <input class="form-control" size="16" type="text" value="@String.Format("{0:yyyy-MM-dd}", DateTime.Now)" readonly>
                        @*<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>*@
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    @Html.Hidden("startOrDate", new { @class = "form-control", Value = String.Format("{0:yyyy-MM-dd}", DateTime.Now) } )
                </div>
                <div class="col-xs-2">
                    <div id="endOrDate_datepicker" class="input-group date form_date col-sm-10 datetime_picker" data-date="" data-date-format="yyyy-mm-dd" data-link-field="endOrDate" data-link-format="yyyy-mm-dd">
                        <input class="form-control" size="16" type="text" value="@String.Format("{0:yyyy-MM-dd}", DateTime.Now)" readonly>
                        @*<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>*@
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    @Html.Hidden("endOrDate", new { @class = "form-control", Value = String.Format("{0:yyyy-MM-dd}", DateTime.Now) })
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="订单类型">
                </div>
                <div class="col-xs-2">
                    @Html.DropDownList("orderStatus", new SelectList(TNet.Models.Order.OrderStatus.GetSelectItems(), "DisplayValue", "DisplayText"), new { @class = "form-control" })
                    @*<input type="text" class="form-control" placeholder="订单状态">*@
                </div>
                <div class="col-xs-1">
                    <input type="submit" value="搜索" class="btn btn-primary"  placeholder=".col-xs-1" />
                </div>
            </div>

        </form>
        

    </div>
    <div>
        @Html.Raw(Url.BootstrapPagerHTML(pageCount, pageIndex, "OrderList", "Manage", ViewContext.RouteData.Values))
    </div>

    <div @*style="overflow:scroll;min-width:2180px;"*@>
        @if (Model.Count > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, long>(en => en.orderno))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, long>(en => en.iduser))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, int>(en => en.idmerc))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, string>(en => en.merc))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, int>(en => en.idspec))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, string>(en => en.spec))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, int?>(en => en.month))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, int?>(en => en.attmonth))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, int?>(en => en.count))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, double?>(en => en.price))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, string>(en => en.contact))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, string>(en => en.addr))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, string>(en => en.phone))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, DateTime?>(en => en.cretime))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, DateTime?>(en => en.stime))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, DateTime?>(en => en.entime))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, int?>(en => en.otype))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, int?>(en => en.status))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, string>(en => en.img))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, string>(en => en.notes))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<MyOrderViewModel, bool>(en => en.inuse))</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.orderno</td>
                            <td>@item.iduser</td>
                            <td>@item.idmerc</td>
                            <td>@item.merc</td>
                            <td>@item.idspec</td>
                            <td>@item.spec</td>
                            <td>@item.month</td>
                            <td>@item.attmonth</td>
                            <td>@item.count</td>
                            <td>@item.price</td>
                            <td>@item.contact</td>
                            <td>@item.addr</td>
                            <td>@item.phone</td>
                            <td>@item.cretime</td>
                            <td>@item.stime.Value.ToString("yyyy-MM-dd")</td>
                            <td>@item.entime.Value.ToString("yyyy-MM-dd")</td>
                            <td>@item.otype</td>
                            <td>@item.status</td>
                            <td>@item.img</td>
                            <td>@item.notes</td>

                            <td>
                                <a onclick="enableOrder('@Url.Action("OrderEnable", "Manage", new { orderno = item.orderno, enable = !item.inuse, isAjax = true })')" href="javascript:void(0);" class="btn btn-default">@(item.inuse ? "禁用" : "启用")</a>
                            </td>
                            <td>
                                <a href="@Url.Action("OrderDetail","Manage",new { orderno=item.orderno})" class="btn btn-default">详细</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2>没有找到任何订单.</h2>
        }

    </div>
</div>


<script type="text/javascript">
    function enableOrder(url) {
        var manageLoginUrl = "@Url.Action("Login","Manage")";
        $.post(url, null, function (returndata) {
            returndata = eval("(" + returndata + ")");
            if (returndata.Code == "3") {
                alert(returndata.Message);
                window.Location.href = manageLoginUrl;
            } else if (returndata.Code == "1") {
                alert("操作成功.");
                window.location.href = window.location.href;
            } else {
                alert("系统出错，请稍后再试。");
            }
        });
    }

    $(function () {
        $('#startOrDate_datepicker').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('#endOrDate_datepicker').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    });
</script>