@using TNet.Util;
@using TNet.Models;
@using TNet.Util;
@using TNet.BLL;
@model List<ManageUserViewModel>
@{
    Layout = null;
    string bindOrderNo = ViewData["bindOrderNo"].ToString();
}
@if (Model.Count > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:100px;">选中</th>
                <th style="width:200px;">@(AttributeHelper.DisplayAttributeFor<ManageUserViewModel, string>(en => en.UserName))</th>
                <th style="width:200px;">@(AttributeHelper.DisplayAttributeFor<ManageUserViewModel, string>(en => en.phone))</th>
                <th style="width:150px;">@(AttributeHelper.DisplayAttributeFor<ManageUserViewModel, string>(en => en.notes))</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="@item.ManageUserId" class="checkbox" id="chkManageUser_@item.ManageUserId" name="chkManageUser" />

                    </td>
                    <td>@item.UserName</td>
                    <td>@item.phone</td>
                    <td>@item.notes</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row" style="margin-bottom:10px;">
        <div class="col-xs-10">
            <input type="text" class="form-control" id="txtNotes" name="txtNotes" placeholder="备注" />
        </div>

    </div>
    <div class="row" style="margin-bottom:10px;">
        <div class="col-xs-3">
            <input type="button" value="指派选定的工人" class="btn btn-primary" placeholder=".col-xs-1" id="btnAssign" onclick="assignTask();" />
        </div>
    </div>
}
