@model TNet.Models.SpecViewModel
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Title = "编辑产品规格";
    if (Model.idmerc == 0)
    {
        ViewBag.Title = "新增产品规格";
    }
}


<div class="ManageRightTitle">
    <ol class="breadcrumb">
        <li><a href="#">产品管理</a></li>
        <li><a href="@Url.Action("MercList","Manage")">商品管理</a></li>
        <li><a href="@Url.Action("SpecList","Manage",new { idmerc=Model.idmerc})" class="active">规格管理</a></li>
        <li><a href="#" class="active">@(Model.idmerc == 0 ? "新增产品规格" : "编辑产品规格")</a></li>
    </ol>
</div>
<div class="ManageRightContent">
    <form action="@Url.Action("SpecEdit","Manage")" method="post" class="form-horizontal">
        <div class="merc-edit-box ">
            <fieldset>
                @Html.HiddenFor(model => model.idmerc)
                @Html.HiddenFor(model => model.idspec)
                @Html.HiddenFor(model => model.sellcount)
                <div class="form-group">
                    @Html.LabelFor(model => model.spec1, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.spec1, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.spec1)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.price, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.price, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.price)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.month, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.month, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.month)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.unit, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.unit, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.unit)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.up, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.up, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.up)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.down, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.down, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.down)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.attmonth, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.attmonth, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.attmonth)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.stuprice, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.stuprice, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.stuprice)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.moveprice, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.moveprice, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.moveprice)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.usertype, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.usertype, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.usertype)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.notes, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.notes, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.notes)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.inuse, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(model => model.inuse, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.inuse)
                </div>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <input type="submit" value="保存" class="btn btn-primary" />
                </div>
            </fieldset>

        </div>

    </form>

</div>
