@using TNet.Util;
@using TNet.Models;
@using TNet.Util;

@model List<SpecViewModel>

@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    var pageCount = Convert.ToInt32(ViewData["pageCount"]);
    var pageIndex = Convert.ToInt32(ViewData["pageIndex"]);
    int idmerc = Convert.ToInt32(ViewData["mercId"]);
}
<div class="ManageRightTitle">
    <ol class="breadcrumb">
        <li><a href="#">产品管理</a></li>
        <li><a href="@Url.Action("MercList","Manage")">产品列表</a></li>
        <li><a href="#" class="active">规格管理</a></li>
    </ol>
</div>
<div class="ManageRightContent">
    <div>
        @Html.Raw(Url.BootstrapPagerHTML(pageCount, pageIndex, "SpecList", "Manage", ViewContext.RouteData.Values))
    </div>
    <div>
        <a class="btn btn-primary" target="_blank" href="@Url.Action("SpecEdit","Manage",new { idmerc=idmerc})">新增规格</a>
    </div>
    <div class="list-box">
        @if (Model.Count > 0)
        {
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>@(AttributeHelper.DisplayAttributeFor<SpecViewModel, string>(en => en.merc))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SpecViewModel, String>(en => en.spec1))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SpecViewModel, double?>(en => en.price))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SpecViewModel, int?>(en => en.sellcount))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SpecViewModel, int?>(en => en.month))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SpecViewModel, int?>(en => en.unit))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SpecViewModel, int?>(en => en.up))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SpecViewModel, int?>(en => en.down))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SpecViewModel, int?>(en => en.attmonth))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SpecViewModel, double?>(en => en.stuprice))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SpecViewModel, double?>(en => en.moveprice))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SpecViewModel, String>(en => en.usertype))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SpecViewModel, String>(en => en.notes))</th>
                        <th>@(AttributeHelper.DisplayAttributeFor<SpecViewModel, bool>(en => en.inuse))</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.merc</td>
                            <td>@item.spec1</td>
                            <td>@item.price</td>
                            <td>@item.sellcount</td>
                            <td>@item.month</td>
                            <td>@item.unit</td>
                            <td>@item.up</td>
                            <td>@item.down</td>
                            <td>@item.attmonth</td>
                            <td>@item.stuprice</td>
                            <td>@item.moveprice</td>
                            <td>@item.usertype</td>
                            <td>@item.notes</td>
                            <td>
                                <div class="switch">
                                    <input type="checkbox" onchange="enableSpec('@Url.Action("SpecEnable", "Manage", new { idspec = item.idspec, enable = !item.inuse, isAjax = true })')" name="enableSpec" @(item.inuse ? "checked" : "") />
                                </div>
                               
                            </td>
                            <td>
                                <a href="@Url.Action("SpecEdit","Manage",new {idmerc=item.idmerc,idspec=item.idspec })" class="btn btn-default">编辑</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2>还没有任何产品规格.</h2>
        }

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $.fn.bootstrapSwitch.defaults.onText = '启用';
        $.fn.bootstrapSwitch.defaults.offText = '禁用';
        $("[name='enableSpec']").bootstrapSwitch();
    });
    function enableSpec(url) {
        var manageLoginUrl = "@Url.Action("Login","Manage")";
        $.post(url, null, function (returndata) {
            returndata=eval("("+returndata+")");
            if (returndata.Code == "3") {
                alert(returndata.Message);
                window.Location.href = manageLoginUrl;
            } else if (returndata.Code == "1") {
                //alert("操作成功.");
                window.location.href = window.location.href;
            } else {
                alert("系统出错，请稍后再试。");
            }
        });
    }

</script>

