@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="#ffffff" name="msapplication-TileColor" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="@Url.Content("~/Css/WeiXin/Base.css?v=20160902")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Css/Com/swiper-3.3.1.min.css?v=20160902")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Js/Com/jquery-3.1.0.min.js?v=20160902")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Com/swiper-3.3.1.min.js?v=20160902")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Com/js.cookie.js?v=20160902")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Pub.js?v=20160902")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/WeiXin/Base.js?v=20160902")"></script>
    @RenderSection("Head", required: false)

</head>
<body root="@Url.Content("~/")" @ViewBag.__Is_Home_Tag>
    <div class="RAMsgHost" id="RAMsgObj">
        <div class="RAMsg">
            <div class="Context" id="RAMsgObj_Context">
                <span class="load_ing">处理中...</span>
            </div>
        </div>
    </div>
    <div id="RAMsgBg" class="RAMsgBg"></div>
    <div class="T">
        <div class="before"></div>
        <div class="TT">
            <a class="Top_Menu" id="Top_Menu" href="#">
                <span id="Top_Menu_Ico"></span>
            </a>
            <div class="TL">
                <a class="Top_User" id="Top_User" href="#"></a>
                <a class="Top_Cart" href="@Url.Content("~/Order/List")"></a>
            </div>
        </div>
    </div>
    <div id="C" class="C">
        <div class="CC" id="CC">
            @RenderBody()
        </div>
    </div>
    <div class="Top_Main_Menu_Host" id="Top_Main_Menu_Host">
        <div class="Top_Main_Menu" id="Top_Main_Menu">
            <ul>
                <li><a href="@Url.Content("~/")"> 首页<span /></a></li>
                <li><a href="@Url.Content("~/Merc/List")">宽带<span /></a></li>
                <li><a href="@Url.Content("~/")">报装<span /></a></li>
                <li><a href="@Url.Content("~/")">商圈<span /></a></li>
                <li><a href="@Url.Content("~/Order/List")">订单<span /></a></li>
            </ul>
        </div>
    </div>
</body>
</html>
