@{
    ViewBag.Title = "后台管理";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>后台管理</title>
    <link rel="stylesheet" href="@Url.Content("~/Css/Bootstrap/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Css/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css")" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Css/com/jQuery.Validate.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Css/Manage/Base.css")" />
    <script type="text/javascript" src="@Url.Content("~/Js/Com/jquery-3.1.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Bootstrap/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/bootstrap-datetimepicker/bootstrap-datetimepicker.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Com/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Com/jquery.validate.unobtrusive.min.js")"></script>
</head>
<body>
    <div class="manageLeft">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading parentMenu">产品管理</div>
            <!-- List group -->
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("MercList","Manage")">基本信息管理</a>
                <a class="list-group-item" href="@Url.Action("MercTypeList","Manage")">类型管理</a>
                @*<a class="list-group-item" href="@Url.Action("SpecList","Manage")">规格管理</a>*@
            </div>
            <!-- Default panel contents -->
            <div class="panel-heading parentMenu">订单管理</div>
            <!-- List group -->
            <div class="list-group">
                <a class="list-group-item" href="">已经完成的订单</a>
                <a class="list-group-item" href="">未完成的订单</a>
            </div>
        </div>

    </div>
    <div class="manageRight">
        @RenderBody()
    </div>
</body>
</html>

