@{
    ViewBag.Title = "TNet-管理";
    TCom.EF.ManageUser mu = Session["ManageUser"] as TCom.EF.ManageUser;
    ViewBag.MUName = mu != null ? mu.UserName : "(>0.0<)!!!";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TNet管理</title>
    <link rel="stylesheet" href="@Url.Content("~/Css/Bootstrap/bootstrap.min.css?v=20161025")" />
    <link rel="stylesheet" href="@Url.Content("~/Css/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css?v=20161025")" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Css/bootstrap-switch/bootstrap3/bootstrap-switch.min.css")" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Css/com/jQuery.Validate.css?v=20161025")" />
    <link rel="stylesheet" href="@Url.Content("~/Css/Manage/Base.css?v=20161025")" />
    <script type="text/javascript" src="@Url.Content("~/Js/Com/jquery-3.1.0.min.js?v=20161025")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Bootstrap/bootstrap.min.js?v=20161025")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/bootstrap-datetimepicker/bootstrap-datetimepicker.js?v=20161025")" charset="UTF-8"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js?v=20161025")" charset="UTF-8"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/bootstrap-switch/bootstrap-switch.min.js")" charset="UTF-8"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Com/jquery.validate.min.js?v=20161025")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Com/jquery.validate.unobtrusive.min.js?v=20161025")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Pub.js?v=20161025")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Manage/Base.js?v=20161025")"></script>

</head>
<body root="@Url.Content("~/")" >
    <div class="T">
        <div class="TL">您好: @ViewBag.MUName</div>
        <div class="TR"><a href="@Url.Action("SignOut","Manage")">注销</a>|<a href="#">帮助</a></div>
    </div>
    <div class="C">
        <div class="manageLeft">
            <div class="panel panel-default">
                <div class="panel-heading parentMenu">产品管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="MercList" href="@Url.Action("MercList","Manage")">产品列表</a>
                    <a class="list-group-item" id="MercTypeList" href="@Url.Action("MercTypeList","Manage")">类型管理</a>
                </div>
                <div class="panel-heading parentMenu">订单管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="OrderList" href="@Url.Action("OrderList","Manage")">订单列表</a>
                    <a class="list-group-item" id="SetupAddrList" href="@Url.Action("SetupAddrList","Manage")">报装地址</a>
                </div>
                <div class="panel-heading parentMenu">派单管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="TaskList" href="@Url.Action("TaskList","Manage")">派单列表</a>
                </div>
                <div class="panel-heading parentMenu">商圈管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="BusinessList" href="@Url.Action("BusinessList","Manage")">周边商圈</a>
                </div>
                <div class="panel-heading parentMenu">工人管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="ManageUserList" href="@Url.Action("ManageUserList","Manage")">工人管理</a>
                </div>
                <div class="panel-heading parentMenu">公告管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="NoticeList" href="@Url.Action("NoticeList","Manage")">公告通知</a>
                </div>
                <div class="panel-heading parentMenu">广告管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="AdvertiseList" href="@Url.Action("AdvertiseList","Manage")">广告列表</a>
                    <a class="list-group-item" id="AdvertiseType" href="@Url.Action("AdvertiseTypeList","Manage")">广告类型</a>
                </div>
                <div class="panel-heading parentMenu">城市管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="CityList" href="@Url.Action("CityList","Manage")">城市列表</a>
                </div>
                <div class="panel-heading parentMenu">微信管理</div>
                <div class="list-group">
                    <a class="list-group-item" id="Menu" href="@Url.Action("Menu","Manage")">菜单</a>
                </div>
            </div>
        </div>
        <div class="manageRight">
            @RenderBody()

            @*<div style="display:block; height:80px;"></div>*@
        </div>

    </div>
</body>
</html>

