@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Css/Manage/Base.css?v20160827")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Js/Com/jquery-3.1.0.min.js?v20160827")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Pub.js?v20160827")"></script>
    <script type="text/javascript" src="@Url.Content("~/Js/Com/swiper-3.3.1.min.js?v20160827")"></script>
    @RenderSection("Head", required: false)
</head>
<body root="@Url.Content("~/")">
    <div class="RAMsgHost">
        <div class="RAMsg" id="RAMsgObj">
            <div class="Context" id="RAMsgObj_Context">
                <span class="load_ing">努力加载数据中...</span>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="head_box">
            <div class="inner wrp">
                <h1 class="logo">
                    <a href="/" title="悦和华彩微信公众平台"></a>
                </h1>
            </div>
        </div>
    </div>
    <div class="contenter">
        <div class="contenter_box">
            <div class="col_side">
                <dl>
                    <dt><i class="m"></i>管理</dt>
                    <dd><a href="javascript:void(0)">消息管理</a></dd>
                    <dd><a href="javascript:void(0)">用户管理</a></dd>
                    <dd><a href="javascript:void(0)">素材管理</a></dd>
                    <dd><a href="javascript:void(0)">客服管理</a></dd>
                </dl>
                <dl>
                    <dt><i class="f"></i>功能</dt>
                    <dd><a href="javascript:void(0)">群发消息</a></dd>
                    <dd><a href="javascript:void(0)">自动回复</a></dd>
                    <dd><a href="javascript:void(0)" class="selected">自定义菜单</a></dd>
                </dl>
            </div>
            <div class="col_main">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer">
        <ul class="links">
            <li>
                <a href="/">联系我们</a>
            </li>
            <li>
                <a href="/">Copyright © TNet. All Rights Reserved.</a>
            </li>

        </ul>
    </div>
    <div id="maskLayout"></div>
</body>
</html>