
@{
    //ViewBag.Title = "T网宽带";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <link href="@Url.Content("~/Css/Merc/Base.css?v=20161007")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Css/Merc/List.css?v=20161007")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Js/Merc/Base.js?v=20161007")">
    </script>
    <script type="text/javascript" src="@Url.Content("~/Js/Merc/List.js?v=20161007")">
    </script>
}
<div class="head_host">
    <div class="swiper-banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#">
                        <img class="swiper-lazy" src="@Url.Content("~/Images/Home/1.jpg")" />
                    </a>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img class="swiper-lazy" data-src="@Url.Content("~/Images/Home/2.jpg")" />
                    </a>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>
            <div class="swiper-pagination">
            </div>
        </div>
    </div>
</div>


<div id="merc" class="pitem_host">
    <span class="loading_c">加载中...</span>
    @*<div class="pitem">
            <div class="pitem_l">
                <a href="#"><img src="@Url.Content("~/Images/Merc/0.jpg")" />水果</a>

                <div class="HLive"></div>

            </div>
            <div class="pitem_r">
                <a href="#"><img src="@Url.Content("~/Images/Merc/0.jpg")" />水果</a>

            </div>

        </div>*@

</div>
